.header{
    width: 100%;
    background-color: white;
}

.header_top{
    width: 100%;
    height: 50px;
}

.header_top_logo{
    float: left;
    width: 200px;
    height: 40px;
    margin-right: 250px;
}

.header_top_search{
    border: solid gray 1px;
    float: left;
    width: 600px;
    height: 40px;
    border-radius: 10px;
}

.header_top_search_searchform_searchinput{
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 10px;
}


.header_top_menu{
    float: right;
}

.header_top_menu_accountbutton{
    float: right;
}

.header_top_menu_shoppingcartbutton{
    float: right;
    margin-right: 35px;
}

.header_down{
    width: 100%;
    height: 50px;
    background-color: lightgray;
}

.header_down_menu{

}

.header_down_menu_item{
    float:  left;
    width: 200px;
}

.header_down_menu_item_text{
    float: left;
}

.header_down_menu_item_ico{
    float: left;
}