*{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}


.error_view{
    width: 600px;
    border: black 1px solid;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    height: 150px;
    text-align: center;
}
